spring:
  datasource:
    url: jdbc:mysql://mysql:3306/coursehub?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: lilili2004
    password: lilili2004
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
logging:
  level:
    root: INFO
    com.zjgsu.lll.course2_new: DEBUG